* {
    border: 1px solid red; /* all at once */
    border-radius: 10px; /* rounded corners */
}

div {
    position: relative; /* enable positioning */

    top: 0;
    right: 20%;
    bottom: 0;
    left: 20%;

    inset: 10px; /* all 4 sides */
    inset: 0 20% 0 20%; /* top right bottom left */
    z-index: 100;
}

body {
    background: blue;
    color: yellow;
    font-family: Arial, sans-serif;
}

h1 {
    position: relative;
    color: yellow;
    background: darkblue;
    padding: 10px;
    text-align: center;
}

h2 {
    color: darkblue;
    background: yellow;
    padding: 5px;
}

p {
    color: darkblue;
    background: lightblue;
    padding: 5px;
}

header {
    position: relative;
    background: darkblue;
    padding: 20px;
    text-align: center;
}

nav {
    background: rgb(255, 198, 45);
    padding: 10px;
    margin-bottom: 10px;
}

nav a {
    color: darkblue;
    text-decoration: none;
    display: block;
    padding: 5px;
}

nav a:hover {
    background: yellow;
}

main {
    background: hsl(212, 100%, 55%);
    padding: 20px;
    margin-bottom: 10px;
}

footer {
    background: rgb(255, 198, 45);
    text-align: center;
    padding: 10px;
    font-size: 12px;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

img {
    display: block;
    margin: 0 auto;
    padding: 10px;
    
}

.image-grid {
    size: 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    justify-content: center;
}

#img1 {
    filter: blur(5px);
}

#img2 {
    filter: greyscale(80%);
}

#img3 {
    filter: brightness(80%) contrast(250%);
}

#img4 {
    filter: hue-rotate(50deg);;
}

#img5 {
    filter: invert(80%);
}

#img6 {
    filter: invert() sepia() saturate(500%) hue-rotate(50deg);
}


.box {
    background: lightblue;
    padding: 10px;
    margin-bottom: 10px;
}
